<mat-card class="container-fluid mat-elevation-z3">
    <mat-card-title class="title">
        <a>{{title}}</a>
        <hr>
    </mat-card-title>

    <form class="form">
        <div>
            <mat-form-field class="width-25">
                <mat-label>Código</mat-label>
                <input matInput disabled [(ngModel)]="endereco.id" name="id">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="width-50">
                <mat-label>Logradouro</mat-label>
                <input matInput [(ngModel)]="endereco.logradouro" name="logradouro">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="width-50">
                <mat-label>Cep</mat-label>
                <input matInput [(ngModel)]="endereco.cep" name="cep">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="width-50">
                <mat-label>Número</mat-label>
                <input matInput [(ngModel)]="endereco.numero" name="numero">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="width-50">
                <mat-label>Complemento</mat-label>
                <input matInput [(ngModel)]="endereco.complemento" name="complemento">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="width-25">
                <mat-label>Municipio</mat-label>
                <mat-select [(value)]="endereco.municipio">
                  <mat-option *ngFor="let municipio of municipios" [value]="municipio.id">
                    {{municipio.descricao}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </form>

    <div>
        <hr>
        <button class="btn btn-primary" mat-raised-button color="primary" (click)="save()">
            Salvar
        </button>
        <button class="btn" mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </div>

</mat-card>