<mat-nav-list class="nav-list">
    <a mat-list-item routerLink="/">
        <i class="material-icons">
            home
        </i>
        Início
    </a>
    <a mat-list-item routerLink="/login">
        <i class="material-icons">
            login
        </i>
        Login
    </a>
    <a mat-list-item routerLink="/paises">
        <i class="material-icons">
            flag
        </i>
        Países
    </a>
    <a mat-list-item routerLink="/estados">
        <i class="material-icons">
            flag
        </i>
        Estados
    </a>
    <a mat-list-item routerLink="/municipios">
        <i class="material-icons">
            flag
        </i>
        Municípios
    </a>
    <a mat-list-item routerLink="/enderecos">
        <i class="material-icons">
            flag
        </i>
        Endereços
    </a>
    <a mat-list-item routerLink="/fornecedores">
        <i class="material-icons">
            flag
        </i>
        Fornecedores
    </a>
    <a mat-list-item routerLink="/produtos">
        <i class="material-icons">
            flag
        </i>
        Produtos
    </a>
</mat-nav-list>

