<mat-card class="container-fluid mat-elevation-z3">
    <mat-card-title>
        <a>Excluir País</a>
        <hr>
    </mat-card-title>

    <mat-card-content>

        <form class="primaryForm">

            <div class="row">
                <div class="col-4">
                    <mat-form-field class="field">
                        <mat-label>Código</mat-label>
                        <input matInput disabled [(ngModel)]="pais.id" name="id">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="field">
                        <mat-label>Descrição</mat-label>
                        <input matInput disabled [(ngModel)]="pais.descricao" name="descricao">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions>
            <div>
                <hr>
                <button class="buttons btn btn-primary bg-danger" mat-raised-button (click)="save()">
                    Excluir
                </button>
                <button class="buttons btn" mat-raised-button (click)="cancel()">
                    Cancelar
                </button>
            </div>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>